@font-face {
  font-family: 'picnic';
  src: url('fonts/PicNic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'forma';
  src: url('fonts/FormaDJRDisplay-MediumTRIAL.ttf') format('truetype');
}

@font-face {
  font-family: 'necto';
  src: url('fonts/Necto-Mono.woff') format('woff');
}

@font-face {
  font-family: 'apfel';
  src: url('fonts/ApfelGrotezk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'egypt';
  src: url('fonts/ThroneOfEgyptRegular-AoM7.ttf') format('truetype');
}

@font-face {
  font-family: 'karrik';
  src: url('fonts/Karrik-Regular.woff') format('woff');
}

@font-face {
  font-family: 'karrikit';
  src: url('fonts/Karrik-Italic.woff') format('woff');
}


<link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed"rel="stylesheet">* {
    box-sizing: border-box;
}

html.body1 {
    background-color: #ffcff1;
    color: black;
    cursor: url('images/curs2.png'), default;
}
html.body1 button {
    color: #ffcff1;
    background-color: mediumseagreen;
}

html.body2 {
    background-color: #93c5ff;
    color: black;
    cursor: url('images/curs2.png'), default;
}
html.body2 button {
    color: #93c5ff;
    background-color: #ff4500;
}

html.body3 {
    background-color: #FF7F50;
    color: black;
    cursor: url('images/curs2.png'), default;
}
html.body3 button {
    color: #FF7F50;
    background-color: #F0FFF0;
}

html.body4 {
    background-color: white;
    color: black;
    cursor: url('images/curs2.png'), default;
}
html.body4 button {
    color: black;
    background-color: #e4d00a;
}




.logo {
    width: 8vw;
    position: fixed;
    left: 2%;
    top: 3%; 
}

.about {
    overflow: visible;
    width: auto;
    top: 17.5%;
    left: 1.5%;
    font-family: 'karrik';
    font-size: 1.1vw;
    line-height: 2.3vh;
    position: fixed;
    z-index: 0;
}

.contact2 {
    width: auto;
    left: 1.5%;
    bottom: 0%;
    font-family: 'karrik';
    font-size: 1.1vw;
    line-height: 2.3vh;
    position: fixed;
    z-index: 0;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) {  
      
.logo {
display:none;
    width: 20vw;
    position: fixed;
    left: 1%;
    top: 2%;   
}

.about {
    display: none;
overflow: visible;
    width: 100%;
    top: 2%;
    left: 30%;
    font-family: 'karrik';
    font-size: 3vw;
    line-height: 3vh;
    position: fixed;
    z-index: 0;
}
  
.contact2{
    width: auto;
    height: 14%;
    left: 2%;
    top: 0%;
    font-family: 'karrik';
    color: black;
    font-size: 4.7vw;
    line-height: 3.5vh;
    position: fixed;
    z-index: 99999999;
}
} 


.booksmenu {
    margin-top: 0.5%;
    width: 85%;
    height: 100%;
    text-decoration: none;
    color: #ffcff1;
    float: right;
    display: inline-block;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) {     
.booksmenu {
    margin-top: 27%;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffcff1;
    float: center;
    display: inline-block;
    position: sticky;
}
}


/* Style the button that is used to open and close the collapsible content */

button {
    color: #ffcff1;
    font-family: 'egypt';
    font-size: 4vh;
    border: none;
    border-radius: 200px;
    background-color: mediumseagreen;
}



@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
button {
    color: #ffcff1;
    font-family: 'karrik';
    font-size: 3vh;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: mediumseagreen;
}
}

button:hover {
    font-family: 'karrik';
}

.collapsible {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    height: 7vh;
    cursor: url("images/curs2.png"), pointer;
    padding-left: 1.5%;
    padding-top: 0.7%;
    padding-bottom: 1.6%;
    width: 100%;
    text-align: left;
    outline: none;
    z-index: 9999999;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.collapsible {
    position: -webkit-sticky;
    position: sticky;
    top: 14%;
    height: 8.5vh;
    padding-left: 3%;
    padding-bottom: 1.5%;
    width: 100%;
    font-size: 20pt;
    text-align: center;
    outline: none;
    z-index: 9999;
}
.collapsible a1 {
    display: none;
}
}

.collapsible a{
    font-family: 'karrik';
    font-size: 4vh;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.collapsible a{
    display: none;
    font-family: 'picnic';
    font-size: 13pt;
}
}

/* Style the collapsible content */

.content {
    width: 98%;
    display: flex;
    flex-direction: row;
padding: 0 15px ;
    padding-bottom: 1px;
    column-count: 2;
    column-gap: 50px;
    font-family: 'necto';
    color: black;
    font-size: 12pt;
    line-height: 15pt;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.content {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 0 6px;
    font-family: 'necto';
    color: black;
    font-size: 12pt;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}
      
    .content a1 {
    font-family: 'karrik';
    font-size: 13pt;
}
      
      .content a3 {
    font-family: 'karrikit';
          font-size: 13pt;
}
}

.content a {
    font-family: 'karrik';
}

.content a1 {
    font-family: 'karrik';
}

.content a2 {
    font-family: 'karrik';
/*    color: #0099cc;*/
}

.content a3 {
    font-family: 'karrikit';
}

.content a4 {
    color: transparent;
}


/* Style the collapsible slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
    width:95%;
}

.mySlides1 {
    display: none;
    width:95%;
}

.mySlides2 {
    display: none;
    width:95%;
}

.mySlides3 {
    display: none;
    width:95%;
}

/* Style the collapsible slideshow images */
.visual {
    width: 780px;
    padding-top: 25px;
    align-self: center;
}

.visual2 {
    width: 320px;
    padding-top: 25px;
    align-self: center;
}

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 700px) 
  and (-webkit-min-device-pixel-ratio: 2) {
.slideshow-container {
  max-width: 100%;
  position: relative;
} 

/* Style the collapsible slideshow images */
.visual {
    width: 94vw;
    padding-top: 0px;
    align-self: center;
    align-items: center;
    align-content: center;
}    
}



/* Define the "prev.& next buttons" */
.prev, .next {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 20%;
    margin-top: -10px;
    padding: 26px;
    transition: 0.8s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    cursor: url("images/right.png"), pointer;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    cursor: url("images/left.png"), pointer;
}

